.defaultText {
  font-size: 32;
  font-family: System-Regular;
  font-weight: regular;
  text-length: 32;
}

#background {
  width: 100%;
  height: 100%;
}

#calendar {
  font-family: "Tungsten-Medium";
  fill: 'fb-white';
}

#calendar-day {
  x: 168;
  y: 40;
  font-size: 50;
  text-anchor: middle;
}

#calendar-date {
  x: 168;
  y: 72;
  font-size: 40;
  text-anchor: middle;
}

#battery-icon {
  width: 18;
  height: 18;
  x: 40;
  y: 300;
  fill: white;
}

#battery-icon-charge {
  width: 18;
  height: 18;
  x: 40;
  y: 300;
  fill: greenyellow;
}

#battery-percent {
  text-anchor: end;
  font-size: 34;
  font-family: System-Bold;
  fill: white;
  x: 56;
  y: 294;
  text-length: 4;
  font-family: "Tungsten-Medium";
}

#clock {
  font-family: "Tungsten-Medium";
  fill: 'fb-white';
}

#clock-hour {
  x: '100%-108';
  y: 333;
  font-size: 90;
}

#clock-separator {
  x: 228;
  y: 312;
  font-size: 42;
}

#clock-minutes {
  x: 234;
  y: 322;
  font-size: 74;
}

#clock-seconds {
  x: 288;
  y: 300;
  font-size: 42;
}

#hr {
  font-family: "Tungsten-Medium";
  fill: 'fb-white';
}

#hr-zone {
  x: 114;
  y: 294;
  font-size: 34;
  text-length: 10;
  text-anchor: middle;
}

#hr-value {
  x: 114;
  y: 330;
  font-size: 46;
  text-length: 3;
  text-anchor: end;
}

#hr-diastole {
  x: 120;
  y: 296;
  width: 38;
  height: 38;
  fill: red;
}

#hr-systole {
  x: 127;
  y: 302;
  width: 24;
  height: 24;
  fill: maroon;
}