.defaultText {
  font-size: 32;
  font-family: System-Regular;
  font-weight: regular;
  text-length: 32;
}

#background {
  width: 100%;
  height: 100%;
}

#torch {
  x: 0;
  y: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  fill: white;
}

#calendar {
  font-family: "Tungsten-Medium";
  fill: "fb-white";
}

#calendar-day {
  x: 168;
  y: 40;
  font-size: 50;
  text-anchor: middle;
}

#calendar-date {
  x: 168;
  y: 72;
  font-size: 40;
  text-anchor: middle;
}

#battery-icon {
  x: 44;
  y: 290;
  font-size: 22;
}

#battery-icon-charge {
  x: 44;
  y: 290;
  font-size: 22;
}

#battery-percent {
  text-anchor: end;
  font-size: 34;
  fill: white;
  x: 44;
  y: 294;
  text-length: 4;
  font-family: "Tungsten-Medium";
}

#clock {
  font-family: "Tungsten-Medium";
  fill: "fb-white";
}

#clock-hour {
  x: "100%-108";
  y: 333;
  font-size: 90;
}

#clock-separator {
  x: 228;
  y: 312;
  font-size: 42;
}

#clock-minutes {
  x: 234;
  y: 322;
  font-size: 74;
}

#clock-seconds {
  x: 288;
  y: 300;
  font-size: 42;
}

#hr {
  font-family: "Tungsten-Medium";
  fill: "fb-white";
}

#hr-zone {
  x: 114;
  y: 294;
  font-size: 34;
  text-length: 10;
  text-anchor: middle;
}

#hr-value {
  x: 114;
  y: 330;
  font-size: 46;
  text-length: 3;
  text-anchor: end;
}

#hr-diastole {
  x: 120;
  y: 325;
  font-size: 34;
}

#hr-systole {
  x: 127;
  y: 320;
  font-size: 20;
}

/* SunTimes ********************************** */

#suntimes {
  font-family: "Tungsten-Medium";
  fill: "fb-white";
  font-size: 22;
}

#suntimes-sunrise-icon {
  x: 318;
  y: 238;
  font-size: 16;
}

#suntimes-sunrise {
  x: 316;
  y: 242;
  text-anchor: end;
}

#suntimes-sunset-icon {
  x: 317;
  y: 257;
  font-size: 16;
}

#suntimes-sunset {
  x: 316;
  y: 260;
  text-anchor: end;
}

/* Barometer ********************************* */

#barometer {
  font-family: "Tungsten-Medium";
  fill: "fb-white";
  font-size: 22;
}

#barometer-pressure-icon {
  x: 318;
  y: 238;
  font-size: 16;
}

#barometer-pressure {
  x: 316;
  y: 242;
  text-anchor: end;
}

#barometer-altitude-icon {
  x: 317;
  y: 257;
  font-size: 16;
}

#barometer-altitude {
  x: 316;
  y: 260;
  text-anchor: end;
}

/* Activities ******************************** */

#steps {
  fill: orangered;
  font-family: "Tungsten-Medium";
}

#distance {
  fill: royalblue;
  font-family: "Tungsten-Medium";
}

#calories {
  fill: yellow;
  font-family: "Tungsten-Medium";
}

#elevationGain {
  fill: magenta;
  font-family: "Tungsten-Medium";
}

#activeZoneMinutes {
  fill: green;
  font-family: "Tungsten-Medium";
}

.progress {
  x: 26;
  y: 13;
  height: 7;
  width: 110;
}

.line {
  x: 26;
  y: 16;
  height: 1;
  width: 100%-44;
}

.tgt-no {
  cx: 100%-18;
  cy: 16;
  r: 4;
}

.tgt-yes {
  cx: 100%-18;
  cy: 16;
  r: 8;
  opacity: 0;
}

.icon {
  x: 4;
  y: 14;
  font-size: 20;
}

/*
.bar-icon {
  width: 30;
  height: 30;
  x:0;
  y:0;
}
*/

.count {
  font-size: 22;
  x: 26;
  y: 10;
  text-length: 12;
}

.countGoal {
  font-size: 22;
  x: "100%-24";
  y: 10;
  text-length: 12;
}
