#root {
  font-family: "Tungsten-Medium";
  fill: "fb-light-gray";
}

#background {
  x: 0;
  y: 0;
  width: 100%;
  height: 100%;
  fill: "fb-black";
}

#torch {
  x: 0;
  y: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  fill: white;
}

/* Calendar ********************************** */

#calendar-number {
  x: "50%+10";
  y: "50%";
  font-size: 36;
}

#calendar-day {
  x: "50%-40";
  y: "50%";
  font-size: 36;
}

/* Clock ************************************* */

#clock-hour {
  x: "50%-18";
  y: "50%";
  font-size: 100;
  text-anchor: end;
  fill: "fb-white";
}

#clock-minutes {
  x: "50%-16";
  y: "50%";
  font-size: 100;
  fill: "fb-white";
}

#clock-seconds {
  x: "50%+76";
  y: "50%";
  font-size: 58;
}

/* Activities ******************************** */

.progress-background {
  x1: "50%";
  y1: 36;
  x2: "50%";
  y2: 172;
  stroke-width: 32;
  stroke-linecap: "butt";
  fill: "fb-extra-dark-gray";
}

.progress-bar {
  x1: "50%";
  y1: 90;
  x2: "50%";
  y2: 172;
  stroke-width: 32;
  stroke-linecap: "butt";
  fill: "fb-green-press";
}

.progress-icon {
  x: "50%+2";
  y: 168;
  font-size: 24;
  text-anchor: middle;
}

.progress-value {
  x: "50%";
  y: 192;
  text-anchor: middle;
  font-size: 22;
}

.progress-goal {
  x: "50%";
  y: 50;
  text-anchor: middle;
  font-size: 16;
  fill: "fb-white";
}

/* Profile *********************************** */

.value {
  x: "50%";
  y: "50%";
  font-size: 28;
  text-anchor: end;
}

.value-icon {
  x: "50%+24";
  y: "50%-3";
  font-size: 20;
  text-anchor: end;
}

.value-right {
  x: "50%+26";
  y: "50%-2";
  font-size: 24;
  text-anchor: start;
}
