#root {
  font-family: "Tungsten-Medium";
  fill: "fb-blue";
}

#torch {
  x: 0;
  y: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  fill: white;
}

/* Calendar ********************************** */

#calendar {
  fill: "fb-black";
}

#calendar-number {
  x: "50%+30";
  y: "50%";
  font-size: 36;
  text-anchor: end;
}

#calendar-day {
  x: "50%";
  y: "50%";
  font-size: 36;
  text-anchor: end;
}

/* Clock ************************************* */

#clock {
  fill: "fb-black";
}

#clock-time {
  x: "50%";
  y: "50%";
  font-size: 100;
  text-anchor: middle;
}

#clock-seconds {
  x: "50%+74";
  y: "50%";
  font-size: 48;
}

/* Activities ******************************** */

.progress-background {
  x1: "50%";
  y1: 40;
  x2: "50%";
  y2: 172;
  stroke-width: 32;
  stroke-linecap: "butt";
  fill: "darkseagreen";
}

.progress-bar {
  x1: "50%";
  y1: 90;
  x2: "50%";
  y2: 172;
  stroke-width: 32;
  stroke-linecap: "butt";
  fill: "fb-black";
}

.progress-icon {
  x: "50%";
  y: 168;
  font-size: 20;
  text-anchor: middle;
}

.progress-value {
  x: "50%";
  y: 192;
  text-anchor: middle;
  font-size: 22;
}

.progress-goal {
  x: "50%";
  y: 54;
  text-anchor: middle;
  font-size: 14;
}

#steps {
  fill: "fb-yellow-press";
}

#distance {
  fill: "fb-slate-press";
}

#calories {
  fill: "fb-green-press";
}

#elevationGain {
  fill: maroon;
}

#activeZoneMinutes {
  fill: green;
}

/* Profile *********************************** */

.value {
  x: "50%";
  y: "50%";
  font-size: 28;
  text-anchor: end;
  fill: "fb-black";
}

.value-icon {
  x: "50%+21";
  y: "50%-3";
  font-size: 18;
  text-anchor: end;
}

.value-right {
  x: "50%+22";
  y: "50%";
  font-size: 24;
  text-anchor: start;
  fill: "fb-black";
}
